.recipe-container {
    background-color: white;
    box-shadow: lightgrey 5px 5px 5px 5px;
    border-radius: 16px;

    display: flex;
    gap: 10px;

    padding: 5px;
    margin: 5px;

    img {
        width: 25vw;
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
    }

    #title {
        font-size: 2em;
    }
}

.recipe-container:hover {
    scale: 98%;
    transition: 250ms;
}

#title-text {
    width: 100%;
    text-align: center;
    text-decoration: underline;
}